html,
body {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

@font-face {
  font-family: Calleo;
  src: url(Calleo-SemiBold.woff);
}

* {
  font-family: Calleo;
}

.topnav {
  position: fixed;
  background-color: white;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: rgb(74, 71, 71);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(185, 110, 30);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #cc820a;
  color: white;
}

.welcome {
  font-size: xx-large;
  left: 0;
  line-height: 30px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: black;
}
.welcome2 {
  line-height: 30px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: black;
}

.fullscreen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(17, 129, 190);
  text-align: center;
  padding: 10rem 2rem;
  background: rgb(17, 129, 190);
}

.about-section-header {
  max-width: 640px;
  margin: -100px auto 6rem auto;
  position: relative;
  top: 0;
  left: 0;
  font-size: xx-large;
  color: white;
  text-align: center;
  border-bottom: 0.2rem solid #f0f0f0;
}

.about-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

ul {
  list-style-position: inside;
  color: white;
  font-size: x-large;
}

li {
  margin-bottom: 20px;
}

.cv {
  font-size: larger;
  color: white;
  margin-top: 30px;
}

._link {
  color: white;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(8, 23, 31);
  text-align: center;
  padding: 10rem 2rem;
}

.project-title {
  max-width: 640px;
  margin: 100px auto 6rem auto;
  position: relative;
  top: 0;
  left: 0;
  font-size: xx-large;
  color: white;
  text-align: center;
  border-bottom: 0.2rem solid #f0f0f0;
}

.projects-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-pic{
  margin: 0 auto 0 auto;
  height: 700px;
  width: auto;
  overflow: hidden;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10rem 2rem;
}

.contact-title {
  max-width: 640px;
  margin: 200px auto 6rem auto;
  position: relative;
  top: 0;
  left: 0;
  font-size: xx-large;
  color: black;
  text-align: center;
}

.contact-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  align-items: center;
}




.contact-links{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.link{
  color: black;
}

.icon-card{
  margin-top: 100px;
}